<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main>
        <section>
            <div
                style="max-width: 750px;margin: 0px auto;border: 0px solid black;padding: 5px 50px;border-radius: 10px;box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);">
                <div>
                    <p style="font-size: 20px;font-weight: 900;">Goa to Bengaluru – 6E 921</p>
                    <p style="color: gray;font-weight: 600;">20 Apr, 10:30–11:35</p>
                </div>
                <div style="display: flex;flex-wrap: nowrap;align-content: center;justify-content: space-between;
              align-items: center;">
                    <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-start;
           align-items: center;gap: 5px;">
                        <i class="fa-solid fa-plane-departure"></i>
                        <div>
                            <p>Take-off</p>
                            <p>20 Apr, 10:30</p>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-start;
           align-items: center;gap: 5px;position: relative;right: 42px;">
                        <i class="fa-regular fa-clock"></i>
                        <div>
                            <p>Flight duration</p>
                            <p>1 hr, 5 mins</p>
                        </div>
                    </div>
                </div>
                <div style="display: flex;flex-wrap: nowrap;align-content: center;justify-content: space-between;
        align-items: center;">
                    <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-start;
           align-items: center;gap: 5px;">
                        <i class="fa-solid fa-plane-arrival"></i>
                        <div>
                            <p>Landing</p>
                            <p>20 Apr, 11:35</p>
                        </div>
                    </div>
                    <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-start;
           align-items: center;gap: 5px;">
                        <i class="fa-solid fa-ticket"></i>
                        <div>
                            <p>Confirmation number</p>
                            <p>2YN5FNI</p>
                        </div>
                    </div>
                </div>
                <div style="display: flex;flex-wrap: nowrap;align-content: center;justify-content: space-between;
                align-items: center;">
                    <div style="display: flex;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-start;
                align-items: center;gap: 5px;">
                        <i class="fa-solid fa-user"></i>
                        <div>
                            <p>Passenger Name</p>
                            <p style="text-align: center;">Himanshu</p>
                        </div>
                    </div>
                    <div style="position: relative;right: 110px;">
                        <div>
                            <p>Seat</p>
                            <p>-</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>